.button
{
  -fx-background-color: linear-gradient(to right,#8C93E1,#FFFFFF);

}
.button:hover
{
  -fx-background-color: #A08BE0;
}
.button:pressed
{
-fx-background-color: #FFFFFF;
}
.shadow{
    -fx-effect:dropShadow(three-pass-box,rgba(0,0,0,0.1),2.0,4.0,6.0,5.0);
}

