
@import "cf-colors.css";

.cf-check-box{
    -fx-cursor:hand;
}
.cf-check-box > .container{
    -fx-pref-height: 32px;
}
.cf-check-box > .container > .box{
    -fx-pref-height: 16px;
    -fx-pref-width: 16px;
    -fx-border-radius: 3px;
    -fx-border-color: -cf-border-color;
    -fx-background-color: transparent;
    -fx-background-radius: 3px;
}
.cf-check-box > .container > .box > .mark{
    -fx-background-color: rgb(255,255,255);
    -fx-background-insets: 3px 2px;
    -fx-shape: "M369.792 704.32L930.304 128 1024 223.616 369.984 896l-20.288-20.864-0.128 0.128L0 516.8 96.128 423.68l273.664 280.64z";
}
.cf-check-box > .container{
    -fx-text-fill: -cf-text-color;
    -fx-font-size: 14px;
}
.cf-check-box:focused > .container > .box{
    -fx-border-color: -cf-primary-color;
}
.cf-check-box:selected > .container{
    -fx-text-fill: -cf-primary-color;
}
.cf-check-box:selected > .container > .box{
    -fx-border-color: -cf-primary-color;
    -fx-background-color: -cf-primary-color;
}