
@import "cf-colors.css";

.cf-dialog{
    -fx-padding: 20px 25px;
    -fx-background-color: rgb(255,255,255);
    -fx-background-radius:3px;
    -fx-background-insets: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10.0, 0, 0, 0);
}
.cf-dialog > .content-label{
    -fx-padding: 20px 0px;
    -fx-graphic-text-gap: 10px;
    -fx-text-fill: -cf-text-color;
    -fx-font-size: 14px;
}
.cf-dialog > .content-label  > .ikonli-font-icon{
    -fx-icon-color: -cf-primary-color;
    -fx-icon-size: 20px;
}
.cf-dialog.success > .content-label  > .ikonli-font-icon{-fx-icon-color: -cf-success-color;}
.cf-dialog.info > .content-label  > .ikonli-font-icon{-fx-icon-color: -cf-info-color;}
.cf-dialog.warn > .content-label  > .ikonli-font-icon{-fx-icon-color: -cf-warn-color;}
.cf-dialog.danger > .content-label  > .ikonli-font-icon{-fx-icon-color: -cf-danger-color;}