.button
{
-fx-background-color:#3F2B63;
}
.button:hover
{
-fx-background-color:#7156DD;
-fx-scale-x:1.1;
-fx-scale-y:1.1;
}
.button:pressed
{
-fx-background-color:#75A1FF;
}
.button1
{
-fx-background-color:#FFF;
}
.button1:hover
{
-fx-background-color:#7156DD;
-fx-scale-x:1.1;
-fx-scale-y:1.1;
}
.button1:pressed
{
-fx-background-color:#75A1FF;
}